body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg,  #de0404 0%, #deda04 20%, #04de21 40%, #04bdde 60%, #3204ff 80%, #b204de 100%);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

button {
  cursor: pointer;
}
